body {
    background-color:gray;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.index {

}
.container {
    margin-top: 30px;
}
.row {

}
.col-8 {

}
.col-4 {

}
.form_form{
    text-align: center;
}
.col-3.nav_logo {

}
.col-9 {

}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.ing_size {

}
.title_photo {

}
.my_photo {
    background: url(../image/photo1.jpg) no-repeat center center;
    background-size: 100%;
    width: 216px;
    height: 347px;
}
.nav_logo {
    background: url(../image/logo.png) no-repeat center center;
    background-size: 100%;
    width: 74px;
    height: 82px;
}
.button_js {
    text-align: center;
}

#myButton {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
    font-weight: bold;
}

#demo img {
    margin-top: 20px;
    width: 25%;
}